*{
	margin: 0;
	padding: 0;
}
html{
	/* background-color: #90dddd; */
	/* color: #ffff; */
    height: 100%;
}
header{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 50px;
	text-align: center;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 40px;
	text-align: center;
    /* background-color: #00A876 !important; */
    height: 100%;
}
footer{
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 15px;
	text-align: center;
}
.title{
    letter-spacing: 0.5px;
}
.slogan-container{
    display: flex;
    justify-content: center;
}
.slogan{
	margin: 25px 150px 45px 150px; 
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: center; 
    background-color: #FFED73;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;
    width: 50%;
}
.imgs1{
	margin: 10px;
}
.btn-container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.button{
    padding: 10px 30px;
    color: black !important;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border: 5px solid #FFED73;
    cursor: pointer;
    margin: 10px;
    border-radius: 30px;
}
.button:hover{
    background-color: #FFED73;
    transition: 0.3s;
}