*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
    /* background-color: #00A876 !important; */
    height: 100%;
}
.head-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#question{
	position: absolute;
	left: 50%;
	top: 2%;
    margin: 25px 100px 45px 100px;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: center;
    background-color: #FFED73;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;
    width: 50%;
	margin-left: -25%;
}
.imgMain{
    height: 400px !important;
	width: 600px !important;
    border: 1px solid rgba(116, 111, 111, 0.342);
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 5px !important;
    position: relative;
}
#cardImage{
    height: 400px !important;
	width: 600px !important;
    border-radius: 5px !important;
}
#about{
    position: absolute;
    z-index: 1;
}
#title{
    white-space: normal;
}
#map {
	position: relative;
    width: 600px;
    height: 400px;
    outline: none;
    border-radius: 5px !important;
}
#submitLocation{
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 45px;
}
button{
    display: inline-block;
    padding: 10px 10px;
    color: black !important;
    text-align: center;
    font-size: 17px !important;
    line-height: 32px;
    letter-spacing: 0.6px;
    text-transform: uppercase !important;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border: 5px solid;
    cursor: pointer;
    /*box-sizing: border-box;*/
    margin: 10px !important;
    border-radius: 25px !important;
    width: 150px;
    border-color: #FFED73;
}
.no_btn:hover{
    /* color: #e25454!important; */
    border-color:#e25454 !important;
}
.yes_btn:hover{
    border-color: #86c786;
    /* color: #86c786; */
}
.not_know_btn:hover{
    border-color: grey;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.button:hover{
    background-color: #FFED73;
    transition: 0.3s;
}

.btn-logout-container{
	margin-left: auto;
}

.btn-logout{
    display: inline-block;
    width: 82px;
    padding: 7px 7px 7px 7px !important;
    color: black !important;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid #e25454;
    cursor: pointer;
    margin: 8px;
    border-radius: 30px;
		margin-left: auto;
		margin-top: 50%;
	}

.btn-logout:hover{
    background-color: #e25454;
    transition: 0.3s;
    color: white !important;
}

.answer-btn {
	outline: none !important;
}
.aboutCard{
    position: absolute;
    font-size: 24px;
    background-color: white;
    font-weight: 600;
    padding: 5px 10px;
    transform: translateX(-50%);
    left: 50%;
    top: 20px;
    opacity: 0;
}
.imgMain:hover .aboutCard{
    opacity: 1;
    transition: .5s;
}