*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
    /* background-color: #00A876 !important; */
    height: 100%;
}
header{
    margin: 25px 150px 45px 150px; 
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: center; 
    background-color: #FFED73;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;
    width: 70%;
}
.imgMain{
    height: 400px !important;
	width: 600px !important;
    border: 1px solid rgba(116, 111, 111, 0.342);
    margin-top: 50px;
<<<<<<< HEAD
    margin-bottom: 25px;

=======
    margin-bottom: 25px; 
    border-radius: 5px !important;  
>>>>>>> b4f4e041c4a324fdf36676d9b30c6d4c1af7abe3
}
#image{
    height: 400px !important;
	width: 600px !important;
    border-radius: 5px !important; 
}
#about{
    position: absolute;
    z-index: 1;
}

#map {
	position: relative;
    width: 498px;
    height: 400px;
    outline: none;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    display: inline-block;
    padding: 10px 10px;
    color: black !important;
    text-align: center;
    font-size: 17px !important;
    line-height: 32px;
    letter-spacing: 0.6px;
    text-transform: uppercase !important;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border: 5px solid;
    cursor: pointer;
    /*box-sizing: border-box;*/
    margin: 10px !important;
<<<<<<< HEAD
    border-radius: 15px !important;
=======
    border-radius: 25px !important;    
>>>>>>> b4f4e041c4a324fdf36676d9b30c6d4c1af7abe3
    width: 150px;
    border-color: #FFED73;
}
.no_btn:hover{
    /* color: #e25454!important; */
    border-color:#e25454 !important;
}
.yes_btn:hover{
    border-color: #86c786;
    /* color: #86c786; */
}
.not_know_btn:hover{
    border-color: grey;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.button:hover{
    background-color: #FFED73;
    transition: 0.3s;
}
<<<<<<< HEAD
=======
.btn-logout-container{
    display: flex;
    justify-content: flex-end;
}
.btn-logout{
    display: inline-block;
    width: 82px;
    padding: 7px 10px 7px 10px !important;
    color: black !important;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid #e25454;
    cursor: pointer;
    margin: 10px;
    border-radius: 30px;
}
.btn-logout:hover{
    background-color: #e25454;
    transition: 0.3s;
    color: white !important;
}
>>>>>>> b4f4e041c4a324fdf36676d9b30c6d4c1af7abe3
