<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'city_swipe_app/style_for_dipl.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
	<title>CityReview</title>
</head>
<body>
	<header>
		<div class="imgs1"><img src="{% static 'city_swipe_app/9.png' %}" width="250" height="250" alt="лого"></div>		
		<div>Это City Review</div>
	</header>
	<div class="slogan">Добро пожаловать в City Review - самый быстрый способ рассказать нам о том, что вы любите или не любите в наших Сумах!</div>
	<a href="/city_swipe_app/instruction" class="button">Начать</a>
</body>
</html>