<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'city_swipe_app/style_for_dipl.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
	<title>CityReview</title>
</head>
<body>
	<div class="mainContainer">
		<div class="imgMain">

		</div>
		<div class="btnContainer">
			<button name="button">YES</button>
			<button name="button">DON'T KNOW</button>
			<button name="button">NO</button>
		</div>
		
	</div>
	
</body>
</html>